<!-- GALLERY LIGHTBOX -->

<section class="mlightbox" id="galleryimage">
    <section class="mlightbox-content">
        <img src="#"  alt=""/>
        <div class="tile white htmltile w4 h2" style="position:absolute;width:50%;height:10%;background-color:black;color:black;top:60%;padding-bottom:10%;left:10%;font-size:16px;">
            <div class="tilecontent" id="tilecontent">


            </div>
        </div>
    </section>

    <section class="mlightbox-details" id="light-detail">
        <div detailcontainer id="detail-container">

        </div>

    </section>
</section>