<!-- GALLERY LIGHTBOX -->

<section class="mlightbox" id="galleryimage">
    <section class="mlightbox-content">
        <h2 id="animtitle" style="position:absolute;width:50%;height:4%;background-color:white;background-color:rgba(255,255,255,0.7);color:black;top:5%;right:35%;font-size:16px;"></h2>
        <img src="#"  alt=""/>
        <h2  id="animdescription" style="position:absolute;width:50%;height:4%;background-color:white;background-color:rgba(255,255,255,0.7);color:black;top:60%;padding-bottom:10%;right:35%;font-size:16px;"></h2>
    </section>

    <section class="mlightbox-details" id="light-detail">
        <div id="detailcontainer" >

        </div>

    </section>
</section>