
<!-- BACKGROUND -->
<img src="/img/background-1.jpg" class="background" alt="" />
<!-- /BACKGROUND -->

<!-- LOGO -->
<div class="header">
    <h1>
        <img src="/img/logo.png" height="32" width="66" class="header-logo" alt=""/>
        Brest 2016
    </h1>
</div>
<!-- /LOGO -->