
<!-- BACKGROUND -->
<!--img src="/img/fdd.png" class="background" /-->
<img src="/img/background-5.jpg" class="background" />
<!-- /BACKGROUND -->

<!-- LOGO -->
<div class="header">
    <h1 style="color: black">
        <img src="/img/logo.png" height="32" width="66" class="header-logo" alt=""/>
        Brest 2016
    </h1>
</div>
<!-- /LOGO -->