
<!-- SECTION RESERVATIONS -->
<section class="clearfix section" id="reservationform" ng-controller="MainCtrl">
    <h3 class="block-title">Réservations</h3>
    <div class="tile black htmltile w3 h4">

        <div ng-repeat="creneau in user.creneaux " class='accordion-group' id='accordion' style='border: 1px solid #52a8ec;border-radius: 0px'>
            <div class='accordion-heading' style='margin-bottom: 0px;'>
                <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordionOption' href='#collapse'>
                    <h3 class="option-title" style="font-size: 20px;">{{creneau.option.animation.titre}} {{creneau.option.titre}}</h3>
                </a>
            </div>
            <div id='collapse' class='accordion-body collapse out lead' style='margin-bottom: 0px;'>
                <div class='accordion-inner'>
                    <div class='blue row-fluid'>
                        <div class="textcenter">Créneau</div>
                        <div>
                            <button ng-click="addReservation(creneau._id)" type='button' id='btnDel"+nbOption+"' class='btn btn-lg btn-primary   btn-del-panel' style=''>Annuler
                            </button>
                            {{(creneau.debut/60) - (creneau.debut/60)%1}}h{{creneau.debut%60}}min - {{ (creneau.fin/60) - (creneau.fin/60)%1}}h{{ creneau.fin%60 }}min</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /SECTION RESERVATIONS -->