<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Brest 2016</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css" />

    <!-- Scripts are at the bottom of the page -->

</head>
<body ng-app="flapperNews" >


<!-- BACKGROUND -->
<img src="/img/background-1.jpg" class="background" alt="" />
<!-- /BACKGROUND -->

<!-- LOGO -->
<div class="header">
    <h1>
        <img src="/img/logo.png" height="32" width="66" class="header-logo" alt=""/>
        Brest 2016
    </h1>
</div>
<!-- /LOGO -->

<!-- MAIN CONTENT SECTION -->
<section id="content">
    <!-- SECTION -->

    <section class="clearfix section" id="portfolio" data-option-key="filter">

        <!-- SECTION TITLE -->
        <h3 class="block-title">Critères</h3>
        <!-- /SECTION TITLE -->

        <!-- SECTION TILES -->
        <div class="tile turquoise icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value="*" data-toggle="modal" data-target=".popup-saisie-code">
                <i class="icon-list icon-4x"></i>
                <p class="title">All</p>
            </a>
        </div>

        <div class="tile yellow icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".visite">
                <i class="icon-camera icon-4x"></i>
                <p class="title">Photography</p>
            </a>
        </div>

        <div class="tile blue icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".spectacle">
                <i class="icon-laptop icon-4x"></i>
                <p class="title">Web Design</p>
            </a>
        </div>

        <div class="tile red icon-featurefade w1 h1">
            <a class="link" href="#" data-option-value=".divers">
                <i class="icon-youtube-play icon-4x"></i>
                <p class="title">Videos</p>
            </a>
        </div>
        <!-- SECTION -->


        <!-- SECTION TILES -->
        <div class="tile black htmltile w2 h11">

            <div class="tilecontent">
                <form class="form-dark"  >
                    <form id="formrecherche" class="form-dark" name="rechercheform" >
                        <div class="row-fluid">
                            <input id="recherche" name="recherche" type="text" class="span12" placeholder="Recherche">
                        </div>
                        <div class="row-fluid">
                            <button type="submit" class="btn btn-primary btn-block pull-right">Rechercher</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
        <!-- /SECTION TILES -->

        <!-- /SECTION -->
        <!-- /SECTION TILES -->

    </section>
    <!-- /SECTION -->

    <!-- SECTION -->
    <section class="clearfix section" id="gallery" ng-controller="MainCtrl">

        <!-- SECTION TILES -->



        <div class="tile visite imagetile imagetile-overlay imagetile-scaledown w2 h1 title-indent">
            <a href="#galleryimage" data-lightbox="mlightboximage" class="link"
               data-src="/img/04_preview.jpg" data-title="" data-description= "">
                <i class="icon-4x"></i>
                <img src="/img/04_thumbnail.jpg" alt=""  />
                <p class="title"></p>
            </a>
        </div>

       

        <!-- /SECTION TILES -->

    </section>
    <!-- /SECTION -->

    <!-- SECTION -->
    <section class="clearfix section" id="animationform" ng-controller="MainCtrl">

        <!-- SECTION TITLE -->
        <h3 class="block-title">Animation</h3>
        <!-- /SECTION TITLE -->

        <!-- SECTION TILES -->
        <div class="tile black htmltile w3 h4">
            <div class="tilecontent">
                <div class="content">

                    <div class="hide textcenter" id="messagesuccess">
                        <br/><br/><br/>
                        <h1>Thank you! <a class="icon-envelope"></a></h1>
                        <br/><br/><br/>
                        <h3>Your message has been sent.</h3>
                        <br/><br/><br/><br/><br/>
                    </div>

                    <div id="messageload" class="hide textcenter">
                        <h3>Sending</h3><br/>
                        <img src="/img/preloader.gif" alt="..."/>
                    </div>

                    <form ng-submit="addAnimations()" class="form-dark"  >
                        <div class="row-fluid">
                            <label>Titre <span class="hide label-important title-missing pull-right">Title is missing!</span></label>
                            <input id="titre" name="titre" type="text" class="span12" placeholder="Titre de l'animation "ng-model="title">
                        </div>


                        <div class="row-fluid">
                            <label>Type d'animation</label>
                            <select id="subject" name="subject" class="span12">
                                <option value="service">Bateau</option>
                                <option value="suggestions">Pestacle</option>
                                <option value="product">Autre</option>
                            </select>
                        </div>

                        <div class="row-fluid">
                            <label>Description <span class="hide label-important message-missing pull-right">You forgot to enter a description!</span></label>
                            <textarea  ng-model="description" name="description" placeholder="Description de l'animation "id="description" class="input-xlarge span12" rows="4"></textarea>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="fileInput">Image </label>
                            <div class="controls">
                                <input ng-model="link" class="input-file" id="fileInput" type="file">
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary btn-add-panel">
                            Ajouter une option
                        </button>

                        <div class="accordion" id="accordion2">
                            <!-- ajout des options avec du jkiri -->
                        </div>
                        <div class="row-fluid">
                            <button type="submit" class="btn btn-primary btn-block pull-right">Enregister</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /SECTION TILES -->

    </section>
    <!-- /SECTION -->

    <!-- SECTION CREATION D'UTILISATEUR -->
    <section ng-controller="AuthCtrl" class="clearfix section" id="creationform">

        <h3 class="block-title">Création d'utilisateur</h3>


        <div class="tile black htmltile w3 h2">
            <div class="tilecontent">
                <div class="content">

                    <div ng-show="error" class="alert alert-danger row">
                        <span>{{ error.message }}</span>
                    </div>

                    <form ng-submit="register()" class="form-dark">
                        <div class="row-fluid">
                            <span class="hide label-important title-missing pull-right">Le nom est manquant!</span>
                            <input ng-model="user.nom" type="text" class="span12" placeholder="Nom de l'utilisateur">
                        </div>
                        <div class="row-fluid">
                            <span class="hide label-important firstname-missing pull-right">Le code est manquant!</span>
                            <input ng-model="user.code" type="text" class="span12" placeholder="Code de l'utilisateur">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block pull-right">Créer l'utilisateur</button>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!-- SECTION -->
    <section class="clearfix section" id="contact">

        <!-- SECTION TITLE -->
        <h3 class="block-title">Features</h3>
        <!-- /SECTION TITLE -->

        <!-- SECTION TILES -->
        <div class="tile red w1 h1 title-fadeout icon-scaleuprotate360cw">
            <a class="link" href="features.html" target="_blank">
                <i class="icon-tasks icon-4x"></i>
                <p class="title">Go To Features</p>
            </a>
        </div>
        <!-- /SECTION TILES -->

    </section>
    <!-- /SECTION -->

</section>

<!-- /MAIN CONTENT SECTION -->

<!-- LOCKSCREEN -->
<section class="mlightbox" id="lockscreen">
    <div id="lockscreen-content">
        <img src="/img/logo.png" height="109" width="226" id="locklogo"  alt="Metromega"/>
        <br/><br/>
        <img src="/img/preloader.gif" id="lockloader"  alt="Loading.."/>
    </div>
</section>
<!-- /LOCKSCREEN -->

<!-- SIDEBAR -->
<div id="opensidebar">
    <a class="link" href="#" data-option-value="*" data-toggle="modal" data-target=".popup-saisie-code">
        <i>
        <p class="title">Connexion</p>
        </i>
    </a>
</div>

<!-- /SIDEBAR -->

<!-- PRELOADER -->
<section class="mlightbox" id="loader">
    <a href="#">
        <img src="/img/preloader.gif" alt="Loading.."/>
    </a>
</section>
<!-- /PRELOADER -->

<!-- GALLERY LIGHTBOX -->
<!-- /FORM CODE -->
<div class="modal fade popup-saisie-code" tabindex="-1"  aria-labelledby="mySmallModalLabel" style="width: 0;">
    <!-- SECTION TILES -->
    <div class="tile black htmltile w3 h1">
        <div class="tilecontent">
            <div class="content">
                <div id="messageload" class="hide textcenter">
                    <h3>Sending</h3><br/>
                    <img src="/img/preloader.gif" alt="..."/>
                </div>

                <form id="contactme" class="form-dark form-inline" name="cform" >
                    <div class="row-fluid">
                        <span class="hide label-important firstname-missing pull-right">Le code est manquant!</span>
                        <input id="firstname" name="firstname" type="text" class="span12" placeholder="Saisissez votre code ici">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block pull-right">Se connecter</button>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- /SECTION TILES -->

</div>
<!-- GALLERY LIGHTBOX -->
<section class="mlightbox" id="galleryimage">
    <section class="mlightbox-content">
        <img src="#"  alt=""/>
        <div class="tile white htmltile w4 h2" style="position:absolute;width:50%;height:10%;background-color:black;color:black;top:60%;padding-bottom:10%;left:10%;font-size:16px;">
            <div class="tilecontent">

                Super description de l'animation
            </div>
        </div>
    </section>
    <section class="mlightbox-details">
        <div class="mlightbox-description">
            <h2 class='mlightbox-title'>Titre animation</h2>
            <p class="mlightbox-subtitle muted">Sous-titre animation</p>
        </div>
        <ul class="mlist">
            <li><a class="close-mlightbox" href="#"><i class="icon-arrow-left"></i> hello !</a></li>
            <li></li>
            <li><a target="_blank" href="http://facebook.com/grozavcom"><i class="icon-facebook-sign"></i> Like us on Youporn</a></li>
            <li><a target="_blank" href="https://twitter.com/intent/user?screen_name=grozavcom"><i class="icon-twitter-sign"></i> Follow us on Twitter</a></li>
        </ul>
    </section>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="/javascripts/angularApp.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> <!-- jQuery Library -->
<script src="/javascripts/respond.min.js" type="text/javascript"></script> <!-- Responsive Library -->
<script src="/javascripts/jquery.isotope.min.js" type="text/javascript"></script> <!-- Isotope Layout Plugin -->
<script src="/javascripts/jquery.mousewheel.js" type="text/javascript"></script> <!-- jQuery Mousewheel -->
<script src="/javascripts/jquery.mCustomScrollbar.js" type="text/javascript"></script> <!-- malihu Scrollbar -->
<script src="/javascripts/tileshow.js" type="text/javascript"></script> <!-- Metromega Custom Tileshow Plugin -->
<script src="/javascripts/mlightbox.js" type="text/javascript"></script> <!-- Metromega Custom Lightbox Plugin -->
<script src="/javascripts/lockscreen.js" type="text/javascript"></script> <!-- Metromega Lockscreen -->
<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script> <!-- Bootstrap Library -->
<script src="/javascripts/script.js" type="text/javascript"></script> <!-- Metromega Script -->

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="/javascripts/jQEditRangeSlider-min.js"></script>
<script>
    //<!--
    $("#creneauAnimation").editRangeSlider({
        bounds: {min: 8, max: 20},
        defaultValues:{min: 9, max: 18}
    });
    //-->
</script>

</body>
</html>