

<div ng-repeat="option in animation.options " class='accordion-group' id='accordion' style='border: 1px solid #52a8ec;border-radius: 0px' >
    <div class='accordion-heading' style='margin-bottom: 0px;'>
        <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordionOption' ng-href="{{ '#collapse' + option._id }}">
            <h3 class="option-title" style="font-size: 20px;">{{ option.titre }} &nbsp &nbsp({{option.duree}} min)</h3>
        </a>
    </div>
    <div ng-attr-id="{{ 'collapse' + option._id }}" class='accordion-body collapse out lead' style='margin-bottom: 0px;'>
        <div class='accordion-inner'>
            <div class='row-fluid'>
                <table class="table">
                    <thead>
                    <tr>
                        {{option.description}}
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="creneau in option.creneaux">
                        <td>
                            <button ng-click="addReservation(creneau._id)" type='button'
                                    class='btn btn-lg btn-primary ' style=''>Reserver
                            </button>
                        </td>
                        <td>
                             {{(creneau.debut/60) - (creneau.debut/60)%1}}h{{creneau.debut%60}}min - {{ (creneau.fin/60) - (creneau.fin/60)%1}}h{{ creneau.fin%60 }}min
                            <div class="progress progress-striped active">
                                <div class="bar" style="width:{{(100-((((option.nbMaxUser)-creneau.users.length)/(option.nbMaxUser))*100))}}%;"></div>
                            </div>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
