
        <!-- <div class="mlightbox-description">
            <h2 class='mlightbox-title'>Titre animation</h2>
            <p class="mlightbox-subtitle muted">Sous-titre animation</p>
        </div> -->
        {{animation.titre}}
        <div ng-repeat="option in animation.options ">
        <div class='accordion-group' id='accordion' style='border: 1px solid #52a8ec;border-radius: 0px'>

            <div class='accordion-heading' style='margin-bottom: 0px;'>
                <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordionOption' href='#collapse'>
                    <h3 class="option-title" style="font-size: 20px;">{{option.titre}}</h3>
                </a>
            </div>
            <div id='collapse' class='accordion-body collapse out lead' style='margin-bottom: 0px;'>
                <div class='accordion-inner'>
                    <div class='row-fluid ' style="font-size: 13px;">{{option.description}}</div>
                    <div class='row-fluid ' style="font-size: 13px;">{{option.duree}}</div>

                        <div ng-repeat="creneau in option.creneaux ">
                            <div class='row-fluid' style="font-weight: bold; text-align: center;"> Places restantes
                                <div class="progress progress-striped active">
                                    <div class="bar" style="width:{{((((option.nbMaxUser)-creneau.users.length)/(option.nbMaxUser))*100)}}%;"></div>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Créneaux</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><button type='button' ng-click="addReservation(creneau._id)"  style='height: 35px;'>Reserver</button></td>
                                        <td>{{creneau.debut}}-{{((creneau.debut)+(option.duree))}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>