<!-- SECTION RESERVATIONS -->
<table class="table table-striped">
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="creneau in user.reservations">
        <td>
            <button ng-click="addReservation(creneau._id)" type='button'
                    class='btn red btn-lg btn-primary mCSB_buttonUp ' style=''>X
            </button>
        </td>
        <td style="font-size: 18px; vertical-align: middle;">
            {{creneau.option.titre}}
        </td>
        <td style="font-size: 18px; vertical-align: middle;">
            {{(creneau.debut/60) - (creneau.debut/60)%1}}h{{creneau.debut%60}}min - {{ (creneau.fin/60) - (creneau.fin/60)%1}}h{{ creneau.fin%60 }}min
        </td>


    </tr>
    </tbody>
</table>

<!-- /SECTION RESERVATIONS -->